.outerCont{
    display: flex;
    flex-direction: column;
    width: 165px;
height: 253px; 
background-color: transparent; 
}
.cardImage{
    height: 160px;
    margin-bottom: 1rem;
    cursor: pointer;
    box-shadow: 0 0 4px #00000040;
    border-radius: 8px;
}